body{
  
  background-color: skyblue;
} 
.h1{
 color: white;
 font-size:25px;
}
.img{
  width: 350px;
}
#big{
  font-size:10px;
   position: relative;
   left: 122px;
   top:20px;
}
.animation{
  animation: large 5s ;
}
@keyframes large {
  10%{
    top:20px;
    color:green;
}
  100%{
   top:-20px;
   font-size: 20px;
   left :80px;
   color: red;
  }
}
.btn{
  position:relative;
  top:px;
  left:120px;
  height:100px;
  width:100px;
  background-color: red;
  font-size:20px;
  color: white;
}
.h3{
  font-size: 25px;
    }
